* {
  margin: 0; /* Removes default outer spacing for all elements.*/
  padding: 0; /* Removes default inner spacing for all elements. */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height.*/
  font-family: serif; /*Sets the default font family for the document to serif.*/
}
/* navbar section start */
.navbar {
  display: flex; /* Uses Flexbox layout for child elements.*/
  justify-content: space-around; /* Distributes child elements evenly with space around them.*/
  background-color: #ff6008; /* Sets a bright orange background color.*/
  height: 60px;
}
.navbar a {
  text-decoration: none; /* Removes the underline from links.*/
  color: #ffffff; /* Sets text color to white.*/
  font-weight: bolder; /* Makes the text bold.*/
  font-size: 1.5rem; /* Sets font size to 1.5 times the root font size.*/
  padding: 1rem; /* Adds 1 rem of spacing inside the links.*/
}
.navbar a:hover {
  color: black; /* Changes the text color to black on hover.*/
  transition: all 3s ease; /* Smoothly transitions all properties (like color) over 3 seconds.*/
}
/* navbar section end */
/* --------------------------------------------------------------------------------- */
/* hero section  star*/

.hero {
  height: 65vh; /* Sets the height to 65% of the viewport height.*/
  background-image: url(photo.jpg); /* Sets the background to an image named photo.jpg*/
  background-size: cover; /* Scales the image to cover the entire section without distorting.*/
  background-position: center; /* Centers the background image horizontally and vertically.*/
  background-position: top; /* Aligns the background image to the top.*/
}
.hero .hero-content {
  height: 200px; /* sets the content's height to 200 pixels.*/
  display: flex; /* Uses Flexbox layout for child elements.*/
  flex-direction: column; /* Stacks child elements vertically.*/
  justify-content: space-evenly; /* Distributes child elements evenly with equal space.*/
  margin-left: 100px; /* Adds 100 pixels of space to the left.*/
}
.hero .hero-content h1 {
  color: #111111; /* Sets text color to dark gray.*/
  font-size: 60px; /* Sets the font size to 60 pixels.*/
  width: 700px; /* Limits the width to 700 pixels.*/
  height: 100px; /* Sets the height to 100 pixels.*/
  font-family: sans-serif; /* Uses a sans-serif font.*/
  text-align: left; /* Aligns text to the left.*/
  font-weight: 700; /* Makes the text bold.*/
  margin-top: 20px; /* Adds 30 pixels of space above the heading.*/
}
.hero .hero-content p {
  color: #999999; /* Sets the text color to light gray.*/
  height: 128px;
  width: 294px;
  font-size: 16px; /* Sets the font size to 16 pixels.*/
  text-align: left; /* Aligns text to the left.*/
  margin-top: 60px; /* Adds 50 pixels of space above the paragraph.*/
}

.hero .hero-content h4 {
  text-transform: uppercase; /* Converts text to uppercase.*/
  font-size: 1.25rem; /* Sets font size to 1.25 times the root font size.*/
  font-family: sans-serif; /* Uses a sans-serif font.*/
  font-weight: 500; /* Applies medium weight to the text.*/
  color: #111111;
  line-height: 1.2; /* Sets line spacing to 1.2 times the font size.*/
  letter-spacing: 2px; /* Adds 2 pixels of space between letters.*/
  margin-top: 50px; /* Adds 50 pixels of space above the element.*/
  margin-bottom: 20px; /* Adds 20 pixels of space below the element.*/
}
.hero .hero-content .btn {
  text-transform: uppercase; /* Converts text to uppercase.*/
  color: #ffffff; /* Sets text color to white.*/
  background-color: #ff6008; /* Sets the background to orange.*/
  font-weight: 700; /* Makes text bold.*/
  margin: 20px auto 60px 0;
  padding: 21px 59px 22px 58px; /*  Adds vertical and horizontal inner spacing (21px top/bottom, 59px left/right).*/
  border-color: transparent !important; /* Makes the border invisible */
  border-radius: 50px; /* Rounds the corners of the button.*/
  font-size: 20px; /* Sets font size to 20 pixels.*/
}
/* hero sectio end */

/* --------------------------------------------------------------------------- */
/* card section  star*/
.success {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  text-align: center;
  background-color: #f0cccf;
  padding-top: 50px;
  padding-bottom: 50px;
}

.success .per-year-success {
  /* padding: 50px; */
  background-color: #fff;
  width: 360px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.per-year-success h1 {
  font-size: 2.5rem;
  color: #f0cccf;
  margin-bottom: 20px;
}

.per-year-success p {
  font-size: 0.9rem;
  font-weight: 300;
}

/* card section end */

/* ----------------------------------------------------------------------------- */

/* contact section start */

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 50px 0;
}

.information {
  width: 585px;
  height: 373px;
  padding: 25px;
}

.contact-content p {
  margin-bottom: 20px;
}

.contact-content h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.content {
  background-color: #ff6008;

  color: white;
}

.content p {
  margin-bottom: 20px;
}
.book-btn {
  text-transform: uppercase; /* Converts text to uppercase.*/
  color: black; /* Sets text color to white.*/
  background-color: #e3a5ab !important; /* Sets the background to orange.*/
  font-weight: 700; /* Makes text bold.*/
  /* margin: 0px auto 60px 0; */
  padding: 15px 35px 15px 35px; /*  Adds vertical and horizontal inner spacing (21px top/bottom, 59px left/right).*/
  border-color: transparent !important; /* Makes the border invisible */
  border-radius: 50px; /* Rounds the corners of the button.*/
  font-size: 20px; /* Sets font size to 20 pixels.*/
}
.img-first {
  background-image: url(img_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.img-second {
  background-image: url(img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* contact section end */
/* ----------------------------------------------------------- */

